<p id="notice"><%= notice %></p>

<h1>Event Students</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_students.each do |event_student| %>
      <tr>
        <td><%= event_student.student %></td>
        <td><%= event_student.event %></td>
        <td><%= link_to 'Show', event_student %></td>
        <td><%= link_to 'Edit', edit_event_student_path(event_student) %></td>
        <td><%= link_to 'Destroy', event_student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Student', new_event_student_path %>
