<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @event_student.student %>
</p>

<p>
  <strong>Event:</strong>
  <%= @event_student.event %>
</p>

<%= link_to 'Edit', edit_event_student_path(@event_student) %> |
<%= link_to 'Back', event_students_path %>
